<div class="modal relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-center justify-center text-center">
      <div class="container px-4 py-4 relative transform overflow-hidden rounded-lg bg-white shadow-xl transition-all sm:my-8">
        <div class="bg-white pb-4 pt-5 dark:bg-very-dark-blue h-full">
            <div class="">
              <svg  width="64"
                    height="64"
                    xmlns="http://www.w3.org/2000/svg">
                <g  fill="none"
                    fill-rule="evenodd"><circle fill="#D87D4A" cx="32" cy="32" r="32"/>
                  <path stroke="#FFF"
                        stroke-width="4"
                        d="m20.754 33.333 6.751 6.751 15.804-15.803"/>
                </g>
              </svg>
              <h3 class="h3 text-start mt-4 mb-6">Thank you for your order</h3>
              <p class="opacity-50 font-medium text-start">You will receive an email confirmation shortly.</p>
            </div>
            <div class="py-4 flex ">
              <div>
                <div>
                  <img src="" alt="">
                  <div>
                    <p class="text-base font-bold text-black uppercase"></p>
                    <p class="text-sm opacity-50 font-bold leading-6 text-black"></p>
                  </div>
                  <p></p>
                </div>
                <p></p>
              </div>
              <div class="">
                <p>Grand total</p>
                <p></p>
              </div>
            </div>

        </div>
        <div class="flex w-full">
          <button type="submit"
                  class="h-10 w-full my-4 mx-4 text-white bg-dark-orange hover:bg-light-orange font-bold text-sm"
                  >
              Back to home
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
