<div *ngIf="modal" class="modal relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-center justify-center text-center">
      <div class="container px-4 py-4 relative transform overflow-hidden rounded-lg bg-white shadow-xl transition-all sm:my-8">
        <div class="bg-white pb-4 pt-5 dark:bg-very-dark-blue h-full">
            <div class="flex flex-row justify-between h-7">
              <p class="font-bold uppercase text-lg text-black">Cart({{totalQuantity}})</p>
              <button class="opacity-50 text-black hover:text-dark-orange" (click)="remove()">Remove all</button>
            </div>
            <div class="py-4 flex justify-between items-center" *ngFor="let product of products">
              <img [src]="product.image.desktop" class="h-16 w-16 rounded" alt="">
              <div class="flex flex-col text-start">
                <p class="text-base font-bold text-black uppercase">{{product.name}}</p>
                <p class="text-sm opacity-50 font-bold leading-6 text-black">{{product.price | currency}}</p>
              </div>
              <button class="text-black h-8 w-24 flex justify-between items-center px-4 bg-dark-grey rounded-sm font-bold" [attr.quantity]="0">
                <span class="opacity-40 text-sm hover:text-dark-orange" (click)="decreaseProduct(quantity)">-</span>
                {{quantity}}
                <span class="opacity-40 text-sm hover:text-dark-orange" (click)="increaseProduct(quantity)">+</span>
              </button>
            </div>
            <p class="text-base text-black opacity-50 uppercase leading-6 text-start">Total</p>
        </div>
        <div class="flex w-full">
          <button type="submit"
                  class="h-10 w-full my-4 mx-4 text-white bg-dark-orange hover:bg-light-orange font-bold text-sm"
                  (click)="checkout()">
              Checkout
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

