.main-section{
  padding-left: 8%;
  padding-right: 8%;
}
.product-card .new{
  letter-spacing: 0.4em;
}

.add{
  height: 88%;
}

.add:hover span{
  color: #D87D4A;
  opacity: 1;
}

.photo-cards-section{
  grid-template-columns: 40% 60%;
}

@media screen and (min-width: 1024px) {
  .product-card{
    padding-right: 30%;
  }
}
