<section class="main-section py-16">
  <button (click)="goBack()" class="btn-back">Go back</button>

  <section class="mt-10 flex flex-col sm:grid sm:grid-cols-2 sm:space-x-8">
    <div class="md:xl-12">
      <picture>
        <source [srcset]="product.image.desktop" media="(min-width: 1024px)" class="rounded mb-6">
        <source [srcset]="product.image.tablet" media="(min-width: 640px)" class="rounded mb-6">
        <img [src]="product.image.mobile" alt="" class="rounded mb-6">
      </picture>
      <!-- <img [src]="product.image.desktop" alt="" class="rounded mb-8 md:mb-0"> -->
    </div>
    <div class="product-card flex flex-col items-center md:items-start justify-center md:pl-4">
      <p *ngIf="product.new" class="new uppercase text-light-orange tracking-widest mb-4">New product</p>
      <h2 class="h2 mb-6 text-center md:text-start">{{product.name}}</h2>
      <p class="mb-6 opacity-50 text-center md:text-start">{{product.description}}</p>
      <p class="font-bold mb-8">{{product.price | currency}}</p>
      <div class="flex flex-row space-x-4">
        <button type="button" class="add bg-dark-grey pl-12 pr-4 py-3 flex flex-row rounded-sm font-bold">
          1
          <span class="ml-10 opacity-40 text-sm">+</span>
        </button>
        <button class="btn btn-orange" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </section>

  <section class="mt-40 lg:grid lg:grid-cols-2 lg:space-x-4">
    <div class="mb-6 lg:mb-0">
      <h3 class="h3 mb-6 ">Features</h3>
      <p class="opacity-50">{{product.features}}</p>
    </div>
    <div class="mt-20 lg:mt-0 flex flex-col sm:grid sm:grid-cols-2 lg:flex lg:flex-col lg:pl-24">
        <h3 class="mb-6 h3 sm:row-span-5">In the box</h3>
        <ul *ngFor="let item of product.includes">
          <li class="flex mb-4">
            <p class="text-dark-orange font-bold">{{item.quantity}}x</p>
            <p class="ml-6 opacity-50">{{item.item | titlecase}}</p>
          </li>
        </ul>
    </div>
  </section>

  <section class="photo-cards-section mt-40 flex flex-col sm:grid space-y-8 sm:space-y-0 sm:space-x-8">
    <div class="space-y-8 lg:flex lg:flex-col lg:justify-between">
      <div>
        <picture>
          <source [srcset]="product.gallery.first.desktop" media="(min-width: 1024px)" class="rounded mb-6">
          <source [srcset]="product.gallery.first.tablet" media="(min-width: 640px)" class="rounded mb-6">
          <img [src]="product.gallery.first.mobile" alt="" class="rounded mb-6">
        </picture>
        <!-- <img [src]="product.gallery.first.desktop" alt="" class="rounded h-full w-full"> -->
      </div>
      <div>
        <picture>
          <source [srcset]="product.gallery.second.desktop" media="(min-width: 1024px)" class="rounded mb-6">
          <source [srcset]="product.gallery.second.tablet" media="(min-width: 640px)" class="rounded mb-6">
          <img [src]="product.gallery.second.mobile" alt="" class="rounded mb-6">
        </picture>
        <!-- <img [src]="product.gallery.second.desktop" alt="" class="rounded h-full w-full"> -->
      </div>
    </div>
    <div>
      <picture>
        <source [srcset]="product.gallery.third.desktop" media="(min-width: 1024px)" class="rounded mb-6">
        <source [srcset]="product.gallery.third.tablet" media="(min-width: 640px)" class="rounded mb-6">
        <img [src]="product.gallery.third.mobile" alt="" class="rounded mb-6">
      </picture>
      <!-- <img [src]="product.gallery.third.desktop" alt="" class="rounded h-full w-full"> -->
    </div>
  </section>

  <section class="mt-40">
    <h3 class="h3 text-center mb-6">You may also like</h3>
    <div class="flex flex-col space-y-8 sm:space-y-0 sm:grid sm:grid-cols-3 sm:space-x-4">
      <div *ngFor="let item of product.others" class=" h-auto">
        <div class="">
          <picture>
            <source [srcset]="item.image.desktop" media="(min-width: 1024px)" class="rounded mb-6">
            <source [srcset]="item.image.tablet" media="(min-width: 640px)" class="rounded mb-6">
            <img [src]="item.image.mobile" alt="" class="">
          </picture>
          <!-- <img [src]="item.image.desktop" alt="" class="w-full h-full"> -->
        </div>
        <div class="flex flex-col items-center">
          <h4 class="text-2xl uppercase font-semibold mt-6 mb-8">{{item.name}}</h4>
          <a href="" class="">
            <button class="btn btn-orange">See product</button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-40">
    <app-cards></app-cards>
  </section>

  <app-audiophile></app-audiophile>
</section>
