<header class="bg-almost-black" [ngStyle]="Style">
  <nav class="py-5 h-20 text-white">
      <div class="flex flex-wrap justify-between items-center">
        <button class="lg:hidden" (click)="openCategories()">
          <svg width="16" height="15" xmlns="http://www.w3.org/2000/svg"><g fill="#FFF" fill-rule="evenodd"><path d="M0 0h16v3H0zM0 6h16v3H0zM0 12h16v3H0z"/></g></svg>
        </button>
        <a href="" class="flex items-center">
          <img src="../../../assets/shared/desktop/logo.svg" class=" h-6 w-32" alt="Logo" />
        </a>
          <div class="flex items-center lg:order-2">
              <button class="text-gray-800 dark:text-white hover:bg-gray-50 font-medium rounded-lg text-sm lg:px-2 py-2 lg:py-2.5" (click)="openCart()">
                <svg  width="23"
                      height="20"
                      xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.625 15.833c1.132 0 2.054.935 2.054 2.084 0 1.148-.922 2.083-2.054 2.083-1.132 0-2.054-.935-2.054-2.083 0-1.15.922-2.084 2.054-2.084zm9.857 0c1.132 0 2.054.935 2.054 2.084 0 1.148-.922 2.083-2.054 2.083-1.132 0-2.053-.935-2.053-2.083 0-1.15.92-2.084 2.053-2.084zm-9.857 1.39a.69.69 0 00-.685.694.69.69 0 00.685.694.69.69 0 00.685-.694.69.69 0 00-.685-.695zm9.857 0a.69.69 0 00-.684.694.69.69 0 00.684.694.69.69 0 00.685-.694.69.69 0 00-.685-.695zM4.717 0c.316 0 .59.215.658.517l.481 2.122h16.47a.68.68 0 01.538.262c.127.166.168.38.11.579l-2.695 9.236a.672.672 0 01-.648.478H7.41a.667.667 0 00-.673.66c0 .364.303.66.674.66h12.219c.372 0 .674.295.674.66 0 .364-.302.66-.674.66H7.412c-1.115 0-2.021-.889-2.021-1.98 0-.812.502-1.511 1.218-1.816L4.176 1.32H.674A.667.667 0 010 .66C0 .296.302 0 .674 0zm16.716 3.958H6.156l1.797 7.917h11.17l2.31-7.917z" fill="#FFF" fill-rule="nonzero"/>
                </svg>
              </button>

                <app-cart *ngIf="modal"
                          [modal]="modal"
                          class="backdrop overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none"
                          (onCheckout)="checkout($event)"
                          [ngStyle]="style">
                </app-cart>

          </div>
          <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">
              <ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0 uppercase">
                <li>
                  <a routerLink= '' class="block py-2 pr-4 pl-3 text-gray-700 titlecase border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 hover:text-dark-orange tracking-widest">Home</a>
                </li>
                <li *ngFor="let category of categories">
                  <a [routerLink]="['', category]" class="block py-2 pr-4 pl-3 text-gray-700 titlecase border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:border-0 lg:hover:text-primary-700 lg:p-0 dark:text-gray-400 lg:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white lg:dark:hover:bg-transparent dark:border-gray-700 hover:text-dark-orange">{{category}}</a>
                </li>
              </ul>
          </div>
      </div>
  </nav>
</header>

<app-menu *ngIf="modalCategories"
          [ngStyle]="style"
          class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none"
          >
</app-menu>

<router-outlet></router-outlet>

<app-footer [categories]="categories"></app-footer>
