<section class="bg-almost-black flex justify-center items-center h-60">
  <h2 *ngIf="category" class="text-white h2">{{category}}</h2>
</section>

<section class="product-card py-40">
  <section *ngFor="let product of products | reverse; let indice = index">
    <div class="flex flex-col lg:grid lg:grid-cols-2 mb-24">
      <div class="mb-8 lg:mb-0" [ngStyle]="indice%2===0?Style:Style2">
        <!-- [ngStyle]="indice%2===0?{
          'grid-column-start': 1,
          'grid-row-start': 1,
        }:{
          'grid-column-start': 2,
          'grid-row-start': 1,
        }" -->
        <picture>
          <source [srcset]="product.categoryImage.desktop" media="(min-width: 1024px)" class="rounded mb-6">
          <source [srcset]="product.categoryImage.tablet" media="(min-width: 640px)" class="rounded mb-6">
          <img [src]="product.categoryImage.desktop" alt="" class="">
        </picture>
      </div>
      <div class="lg:flex lg:flex-col lg:justify-center">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
  </section>

  <section class="mt-40">
    <app-cards></app-cards>
    <app-audiophile></app-audiophile>
  </section>
</section>
