<section class="mt-20 grid grid-rows-2 gap-y-12 lg:grid-cols-2 lg:gap-x-12 lg:grid-rows-1 lg:gap-y-0">
  <div class="lg:col-start-2">
    <picture class="h-full">
      <source srcset="../../../assets/shared/desktop/image-best-gear.jpg" media="(min-width: 1024px)" class="rounded h-full">
      <source srcset="../../../assets/shared/tablet/image-best-gear.jpg" media="(min-width: 640px)" class="rounded h-full">
      <img src="../../../assets/shared/mobile/image-best-gear.jpg" alt="" class="rounded h-full">
    </picture>
  </div>

  <div class="flex flex-col lg:justify-center lg:col-start-1 lg:row-start-1 lg:items-start">
    <h2 class="h2 mb-6 text-center lg:text-start">Bringing you the <span class="text-dark-orange">best</span> audio gear</h2>
    <p class="opacity-50 font-medium text-center lg:text-start">Located at the heart of New York City, Audiophile is the premier store for high end headphones, earphones, speakers, and audio accessories. We have a large showroom and luxury demonstration rooms available for you to browse and experience a wide range of our products. Stop by our store to meet some of the fantastic people who make Audiophile the best place to buy your portable audio equipment.</p>
  </div>
</section>

