.header-section{
  height: 700px;
  background-image: url('../../../assets/home/desktop/image-hero.jpg');
  background-position: center;
  background-size: cover;
}

.orange-section{
  height: 600px;
  background-image: url('../../../assets/home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: start;
}

.orange-section img{
  height: 450px;
}

.image-background{
  background-image: url('../../../assets/home/desktop/image-speaker-zx7.jpg');
  background-position: center;
  background-size: cover;
}
