.header-section{
  height: 700px;
  background-image: url('../../../assets/home/desktop/image-hero.jpg');
  background-position: center;
  background-size: cover;
}

.header-section .new{
  letter-spacing: 0.4em;
}

.orange-section{
  height: 600px;
  background-image: url('../../../assets/home/desktop/pattern-circles.svg');
  background-repeat: no-repeat;
  background-position: start;
}

.orange-section img{
  height: 480px;
  bottom: -9px;
}

.image-background{
  height: 400px;
  background-image: url('../../../assets/home/desktop/image-speaker-zx7.jpg');
  background-position: center;
  background-size: cover;
}


