<section class="header-section px-32 text-white flex flex-row justify-between">
  <div class="flex flex-col justify-center items-start">
    <p class="new uppercase opacity-25 ">New product</p>
    <h1 class="h1 mt-4 mb-6">XX99 Mark II <br> Headphones</h1>
    <p class="mb-8 opacity-70">Experience natural, lifelike audio and exceptional <br> build quality made for the passionate music <br> enthusiast.</p>
    <button type="button" class="btn btn-orange">See product</button>
  </div>
</section>

<section class="px-32 py-40">

  <app-cards></app-cards>


  <section class="orange-section bg-dark-orange rounded mt-40 px-60 text-white grid grid-cols-2 relative overflow-hidden">
    <div>
      <img src="../../../assets/home/desktop/image-speaker-zx9.png" alt="" class="absolute">
    </div>
    <div class="flex flex-col justify-center items-start ml-24">
      <h1 class="h1 mb-6">ZX9 speaker</h1>
      <p class="mb-6">Upgrade to premium speakers that are <br> phenomenally built to deliver truly remarkable <br> sound. </p>
      <a href="">
        <button type="button" class="btn bg-black hover:bg-grey cursor-pointer">See product</button>
      </a>
    </div>
  </section>

  <section class="image-background mt-16 flex flex-col items-start justify-center pl-24 rounded">
    <h4 class="h4 mb-6">ZX7 speaker</h4>
    <button type="button" class="btn btn-border">See product</button>
  </section>

  <section class="grid grid-cols-2 mt-16 space-x-6">
    <div class="rounded">
      <img src="../../../assets/home/desktop/image-earphones-yx1.jpg" alt="" class="rounded w-full">
    </div>
    <div class="bg-dark-grey flex flex-col justify-center items-start rounded pl-24">
      <h4 class="h4 mb-6">YX1 earphones</h4>
    <button type="button" class="btn btn-border">See product</button>
    </div>
  </section>

  <section class="">
    <app-audiophile></app-audiophile>
  </section>
</section>
