<section class="header-section h-[120vh] text-white flex flex-row justify-center bg-center bg-cover lg:justify-between py-20 sm:py-32 lg:py-48">
  <div class="flex flex-col justify-center items-center lg:items-start">
    <p class="new uppercase opacity-25 ">New product</p>
    <h1 class="h1 mt-4 mb-6 text-center lg:text-start">XX99 Mark II <br> Headphones</h1>
    <p class="mb-8 opacity-70 text-center lg:text-start">Experience natural, lifelike audio and exceptional <br> build quality made for the passionate music <br> enthusiast.</p>
    <a type="button" class="btn btn-orange text-center" [routerLink]="['/products', 'xx99-mark-two-headphones']">See product</a>
  </div>
</section>

<section class="py-40">

  <app-cards></app-cards>


  <div class="orange-section h-auto bg-dark-orange rounded mt-20 px-2 py-14 bg-cover bg-no-repeat text-white flex flex-col justify-between items-center lg:grid lg:grid-cols-2 lg:relative lg:overflow-hidden ">
    <div class="">
      <img src="../../../assets/home/mobile/image-speaker-zx9.png" alt="" class="h-[150px] w-[140px] lg:absolute">
    </div>
    <div class="flex flex-col justify-center items-center lg:items-start mt-8 lg:ml-20">
      <h1 class="h1 mb-6 text-center lg:text-start">ZX9 speaker</h1>
      <p class="mb-6 text-center lg:text-start">Upgrade to premium speakers that are <br> phenomenally built to deliver truly remarkable <br> sound. </p>
      <a  [routerLink]="['/products', 'zx9-speaker']">
        <button type="button" class="btn bg-black hover:bg-grey">See product</button>
      </a>
    </div>
  </div>

  <div class="image-background h-[50vh] mt-10 bg-center bg-cover flex flex-col items-start justify-center rounded">
    <h4 class="h4 mb-6">ZX7 speaker</h4>
    <a type="button" class="btn btn-border text-center" [routerLink]="['/products', 'zx7-speaker']">See product</a>
  </div>

  <div class="flex flex-col md:grid md:grid-cols-2 mt-10 md:space-x-6">
    <div class="rounded mb-4 lg:h-auto lg:mb-0">
      <img src="../../../assets/home/mobile/image-earphones-yx1.jpg" alt="" class="rounded w-full h-60 lg:h-full">
    </div>
    <div class="h-60 lg:h-auto bg-dark-grey flex flex-col justify-center items-start rounded pl-6">
      <h4 class="h4 mb-6">YX1 earphones</h4>
    <a type="button" class="btn btn-border text-center" [routerLink]="['/products', 'yx1-earphones']">See product</a>
    </div>
  </div>

  <div class="">
    <app-audiophile></app-audiophile>
  </div>
</section>
