<section class="flex flex-col sm:grid sm:grid-cols-3  sm:gap-x-4">
  <div class="card div-card mb-20 md:mb-0" *ngFor="let category of categories" (click)="goToCategory(category.category)">
    <!-- [routerLink]="['', category.category]" -->
    <img [src]="category.imgCategory" alt="" class="headphones-img absolute">
    <h6 class="h6 mb-4">{{category.category}}</h6>
    <div class="flex items-center">
      <p class="uppercase opacity-50 font-bold">
        Shop
      </p>
      <svg width="8" height="12" class="ml-3" xmlns="http://www.w3.org/2000/svg"><path d="M1.322 1l5 5-5 5" stroke="#D87D4A" stroke-width="2" fill="none" fill-rule="evenodd"/></svg>
    </div>
  </div>
</section>
