.main-section{
  padding-right: 8%;
  padding-left: 8%;
}

h3{
  letter-spacing: 1.14px;
}

.subtitle{
  letter-spacing: 0.93px;
}

label{
  letter-spacing: -0.21px;
}

.input-radio{
  padding: 1.5rem;
  height: 6vh;
}

.input-radio input{
  /* border: 1px solid #CFCFCF; */
  padding: 10px;
}

.input-radio:focus{
  border: 1px solid #D87D4A;
}

.input-radio:hover{
  border: 1px solid #D87D4A;
}

.checkbox:checked{
  background: radial-gradient(circle at center, #D87D4A 40%, #ffff 45%);
}

.products-checkout{
  cursor: pointer;
  height: auto;
}

.products-checkout:hover button{
  background-color: #fbaf85;
}

.backdrop{
  background-color: rgba(0,0,0,0.5);
}

input.ng-invalid.ng-touched{
  border: 2px solid #CD2C2C;
}

input.ng-valid.ng-dirty{
  border: 1px solid #D87D4A;
}


button{
  letter-spacing: 1px;
}

@media screen and (min-width: 1024px) {
  form{
    width: 180vw;
  }

  .products-checkout{
    height: 60%;
  }

}

