<section class="main-section pt-16 pb-32 bg-dark-grey">
  <button (click)="goBack()" class="btn-back">Go back</button>
  <section class="mt-10 flex flex-col lg:flex-row space-y-12 lg:space-y-0 lg:space-x-12">
    <form class="bg-white rounded p-6 sm:p-12 w-full lg:grow-0">
      <h3 class="h3 mb-6">Checkout</h3>
      <div class="mb-12">
        <p class="subtitle mb-4">Billing details</p>
        <div class="flex flex-col space-y-6 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-6 sm:space-y-0">
          <div class="flex flex-col">
            <label class="label" for="name">Name</label>
            <input type="text" name="name" id="name" class="input">
          </div>
          <div class="flex flex-col">
            <label class="label" for="email">Email Address</label>
            <input type="email" name="email" id="email" class="input">
          </div>
          <div class="flex flex-col">
            <label class="label" for="phone">Phone Number</label>
            <input type="tel" name="phone" id="phone" class="input">
          </div>
        </div>
      </div>

      <div class="mb-12">
        <p class="subtitle mb-4">Shipping info</p>
        <div class="flex flex-col space-y-6 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-6 sm:space-y-0">
          <div class="sm:col-span-2 flex flex-col">
            <label class="label" for="address">Address</label>
            <input type="text" name="address" class="input">
          </div>
          <div class=" flex flex-col">
            <label class="label">ZIP Code</label>
            <input type="text" class="input">
          </div>
          <div class=" flex flex-col">
            <label class="label">City</label>
            <input type="text" class="input">
          </div>
          <div class=" flex flex-col">
            <label class="label">Country</label>
            <input type="text" class="input">
          </div>
        </div>
      </div>

      <div>
        <p class="subtitle mb-4">Payment details</p>
        <div class="flex flex-col space-y-6 sm:grid sm:grid-cols-2 sm:gap-x-6 sm:gap-y-6 sm:space-y-0 sm:grid-rows-3">
          <div class="sm:row-span-2">
            <label class="label">Payment method</label>
          </div>
          <div class="input-radio input cursor-pointer">
            <input type="checkbox" class="rounded-full cursor-pointer appearance-none checked:bg-dark-orange ">
            <label for="" class="label ml-4">e-Money</label>
          </div>
          <div class="input-radio input cursor-pointer">
            <input type="checkbox" class="rounded-full cursor-pointer appearance-none checked:bg-dark-orange">
            <label for="" class="label ml-4 ">Cash on Delivery</label>
          </div>
          <div class="flex flex-col">
            <label for="" class="label">e-Money Number</label>
            <input type="text" class="input">
          </div>
          <div class="flex flex-col">
            <label for="" class="label">e-Money PIN</label>
            <input type="text" class="input">
          </div>
        </div>
      </div>

    </form>

    <div class="products-checkout bg-white rounded p-6 sm:p-8 w-full lg:grow">
      <p class="font-bold uppercase text-lg text-black mb-4">Summary</p>

      <div class="py-4 flex justify-between items-center" *ngFor="let product of products">
        <div class="flex">
          <img [src]="product.image.mobile" alt="" class="h-16 w-16 rounded">
          <div class="flex flex-col text-start ml-4">
            <p class="text-base font-bold text-black uppercase">{{product.name}}</p>
            <p class="text-sm opacity-50 font-bold leading-6 text-black">{{product.price | currency}}</p>
          </div>
        </div>
        <p class="text-sm opacity-50 font-bold leading-6 text-black">1x</p>
      </div>

      <div class="flex mb-2 justify-between items-center">
        <p class="text-base text-black opacity-50 uppercase leading-6 text-start">Total</p>
        <p class="text-base text-black font-bold uppercase leading-6 text-start">$ 5,396</p>
      </div>
      <div class="flex mb-2 justify-between items-center">
        <p class="text-base text-black opacity-50 uppercase leading-6 text-start">Shipping</p>
        <p class="text-base text-black font-bold uppercase leading-6 text-start">$ 50</p>
      </div>
      <div class="flex mb-4 justify-between items-center">
        <p class="text-base text-black opacity-50 uppercase leading-6 text-start">Vat(included)</p>
        <p class="text-base text-black font-bold uppercase leading-6 text-start">$ 1079</p>
      </div>
      <div class="flex justify-between items-center">
        <p class="text-base text-black opacity-50 uppercase leading-6 text-start">Grand total</p>
        <p class="text-base text-black font-bold uppercase leading-6 text-start"></p>
      </div>

      <div class="flex w-full">
        <button type="submit"
                class="h-10 w-full mt-8 text-white bg-dark-orange hover:bg-light-orange font-bold text-sm uppercase"
                (click)="pay()">
            Continue & pay
        </button>
      </div>
    </div>
  </section>

</section>

<app-bill *ngIf="billModal"></app-bill>
